In [1]:
import pandas as pd

In [6]:
salesdetails=pd.read_csv(r"C:\Users\91858\Downloads\Data Fiesta 2.0 Round 2 Docket\Data Fiesta 2.0 Round 2 Docket\Data Fiesta 2.0 Round 2 Docket\Data Fiesta 2.0 Round 2 -  Data\SALESDETAILS.csv")
region=pd.read_csv(r"C:\Users\91858\Downloads\Data Fiesta 2.0 Round 2 Docket\Data Fiesta 2.0 Round 2 Docket\Data Fiesta 2.0 Round 2 Docket\Data Fiesta 2.0 Round 2 -  Data\REGION.csv")
customer=pd.read_csv(r"C:\Users\91858\Downloads\Data Fiesta 2.0 Round 2 Docket\Data Fiesta 2.0 Round 2 Docket\Data Fiesta 2.0 Round 2 Docket\Data Fiesta 2.0 Round 2 -  Data\CUSTOMERS.csv")

In [7]:
df1=pd.merge(salesdetails, customer, on='Address Number')

In [8]:
df2=pd.merge(df1, region, on='Region Code')

In [9]:
df3=df2.filter(['Region Code','Payment Terms'], axis=1)

In [10]:
df3

        Region Code Payment Terms
0                 1           NET
1                 1           215
2                 1           2P1
3                 1           2P1
4                 1           215
...             ...           ...
298156            0           N30
298157            0           N30
298158            0           445
298159            0           445
298160            0           445

[298161 rows x 2 columns]

In [11]:
df3.to_csv('PaytmentType.csv')

In [49]:
r0=df3.loc[df3['Region Code'] == 0]

In [50]:
r1=df3.loc[df3['Region Code'] == 1]

In [51]:
r2=df3.loc[df3['Region Code'] == 2]

In [52]:
r3=df3.loc[df3['Region Code'] == 3]

In [53]:
r4=df3.loc[df3['Region Code'] == 4]

In [54]:
r5=df3.loc[df3['Region Code'] == 5]