In [11]:
import pandas as pd

In [12]:
df=pd.read_csv(r"C:\Users\91858\Downloads\Data Fiesta 2.0 Round 2 Docket\Data Fiesta 2.0 Round 2 Docket\Data Fiesta 2.0 Round 2 Docket\Data Fiesta 2.0 Round 2 -  Data\BUDGET.csv")

In [19]:
indexNames = df[ df['Budget Amount'] <0].index
df.drop(indexNames , inplace=True)

In [36]:
X=df.loc[df['BudgetYear'] == 2008]

In [37]:
Y=df.loc[df['BudgetYear'] == 2009]

In [20]:
grouped_df = df.groupby(['BudgetYear'])

In [21]:
grouped_and_summed = grouped_df.sum()

In [22]:
grouped_and_summed = grouped_and_summed.reset_index()

In [23]:
grouped_and_summed

   BudgetYear  BudgetPeriod  Budget Amount  Customer Number
0        2008         44513   9.311351e+07      69286505061
1        2009         44513   9.163243e+07      69286505061

In [24]:
df_final=grouped_and_summed.filter(['BudgetYear','Budget Amount'], axis=1)

In [35]:
df_final

   BudgetYear  Budget Amount
0        2008   9.311351e+07
1        2009   9.163243e+07

In [44]:
X1=X.groupby(['BudgetPeriod']).sum()

In [46]:
Y1=Y.groupby(['BudgetPeriod']).sum()

In [56]:
X2=X1.filter(['BudgetPeriod','Budget Amount'])

In [57]:
Y2=Y1.filter(['BudgetPeriod','Budget Amount'])

In [58]:
X2

              Budget Amount
BudgetPeriod
1                5975110.00
2                8281677.73
3                9101664.67
4                8148421.51
5                8028427.92
6                8786952.90
7                7901255.37
8                7651954.61
9                7795127.78
10               5910254.66
11               7353586.81
12               8179077.49

In [59]:
Y2

              Budget Amount
BudgetPeriod
1              5.795245e+06
2              8.424052e+06
3              8.652351e+06
4              8.274554e+06
5              7.856488e+06
6              8.524508e+06
7              7.806387e+06
8              7.668588e+06
9              7.563819e+06
10             5.880168e+06
11             7.131889e+06
12             8.054385e+06

In [64]:
X2.to_csv('2008.csv')

In [66]:
Y2.to_csv('2009.csv')