In [16]:
import pandas as pd

In [17]:
salesdetails=pd.read_csv(r"C:\Users\91858\Downloads\Data Fiesta 2.0 Round 2 Docket\Data Fiesta 2.0 Round 2 Docket\Data Fiesta 2.0 Round 2 Docket\Data Fiesta 2.0 Round 2 -  Data\SALESDETAILS.csv")
region=pd.read_csv(r"C:\Users\91858\Downloads\Data Fiesta 2.0 Round 2 Docket\Data Fiesta 2.0 Round 2 Docket\Data Fiesta 2.0 Round 2 Docket\Data Fiesta 2.0 Round 2 -  Data\REGION.csv")
customer=pd.read_csv(r"C:\Users\91858\Downloads\Data Fiesta 2.0 Round 2 Docket\Data Fiesta 2.0 Round 2 Docket\Data Fiesta 2.0 Round 2 Docket\Data Fiesta 2.0 Round 2 -  Data\CUSTOMERS.csv")

C:\Users\91858\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (13) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [24]:
df1=pd.merge(salesdetails, customer, on='Address Number')

In [25]:
df2=pd.merge(df1, region, on='Region Code')

In [26]:
indexNames = df2[ df2['Sales Quantity'] <=0].index
df2.drop(indexNames , inplace=True)

In [27]:
df3=df2.filter(['Region Code','Line Desc 1', 'Sales Quantity'], axis=1)

In [28]:
df4 = df3.dropna()

In [29]:
df4

        Region Code                      Line Desc 1  Sales Quantity
425               1              Gorilla Jack Cheese             3.0
426               1           Ebony Fresh Lima Beans             1.0
427               1           Even Better Buttermilk             1.0
428               1      Footnote Seasoned Hamburger             1.0
429               1               Colony Wheat Bread             1.0
...             ...                              ...             ...
298156            0  High Top Golden Delcious Apples           140.0
298157            0  High Top Golden Delcious Apples           140.0
298158            0            Fantastic White Bread             1.0
298159            0        Best Choice Fudge Cookies             1.0
298160            0        Best Choice Fudge Cookies             1.0

[280813 rows x 3 columns]

In [32]:
df4.to_csv("RegionProduct.csv")